html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;inline-size:jnb ;
	vertical-align: baseline;
}

.main-image {
    background-color: #75a5e5;
}

.logo {
    width: 80vw;
    height: 80vw;
    max-width: 50vh;
    max-height: 50vh;
    padding-bottom: 5px;
}

#main-container {
    display: flex;
    margin: 0 auto; 
    flex-direction: column;
    align-items: center;    /* Vertically centers content */
    height: 100vh; /* Example: full viewport height for parent */
    width: 100vw;
    max-width: 600px;
}

.lead-text {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-size: .9rem;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

body {
    background-color: #75a5e5;
}

.main-nav {
    padding-bottom: 20px;
}

#nav-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#nav-container .bridge {
    display: block;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    height: auto;
}

#submit-container {
    position: absolute;
    top: 80%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

#submit-container a {
    display: inline-block;
    padding: 10px 10px;
    border-radius: 15px;
    color: black;
    background-color: #f4bb2e;
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
}

.nav-list {
    position: absolute;
    top: 20%; /* Example: Start 50% from the top */
    left: 50%; /* Example: Start 50% from the left */
    transform: translate(-50%, -50%);
    
    list-style-type: none; /* Removes bullets */
    margin: 0;           /* Removes default margin */
    padding: 0;          /* Removes default padding */
    display: flex;       /* Enables Flexbox */
    flex-direction: row; /* Arranges items horizontally */
    gap: 20px;           /* Adds spacing between items (adjust as needed) */
}

.img-link {
    width: 12vw;
    height: auto;
    max-width: 80px;
    max-height: 80px;
}